# Students San Fransisco Salaries

# Data Cleaning

**Import Libraries**

In [85]:
import numpy as np
import pandas as pd

**loading the data.**

In [86]:
df=pd.read_csv(r"/content/Salaries.csv")

In [87]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**make a copy of the dataframe**

In [88]:
df1=df.copy()

**Check the head/ tail/ shape of the DataFrame**

In [89]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [90]:
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
9849,9850,RICK BURGER,PIPE WELDER,89916.75,6096.52,2070.00,NaN,98083.27,98083.27,2011.0,NaN,San Francisco,NaN
9850,9851,ERIC SHAFFER,REGISTERED NURSE,92149.82,1069.72,4858.68,NaN,98078.22,98078.22,2011.0,NaN,San Francisco,NaN
9851,9852,LEO BERNSTEIN,POLICE OFFICER I,84009.21,3027.23,11030.81,NaN,98067.25,98067.25,2011.0,NaN,San Francisco,NaN
9852,9853,TAMI QUAN,AIRPORT ELECTRICIAN,96050.44,90.77,1920.00,NaN,98061.21,98061.21,2011.0,NaN,San Francisco,NaN
9853,9854,JOANNE D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Use the .info() method to find out how many entries there are.**

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9854 entries, 0 to 9853
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                9854 non-null   int64
 1   EmployeeName      9854 non-null   object
 2   JobTitle          9853 non-null   object
 3   BasePay           9853 non-null   float64
 4   OvertimePay       9853 non-null   float64
 5   OtherPay          9853 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          9853 non-null   float64
 8   TotalPayBenefits  9853 non-null   float64
 9   Year              9853 non-null   float64
 10  Notes             0 non-null      float64
 11  Agency            9853 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 1000.9+ KB

**Check for duplicates**

In [92]:
df.duplicated().sum()

0

**Check for null values**

In [93]:
df.isna().sum()

Id                     0
EmployeeName           0
JobTitle               1
BasePay                1
OvertimePay            1
OtherPay               1
Benefits            9854
TotalPay               1
TotalPayBenefits       1
Year                   1
Notes               9854
Agency                 1
Status              9854
dtype: int64

**Find the percent of missing values in each column**

In [94]:
(df.isna().sum()/len(df))*100

Id                    0.000000
EmployeeName          0.000000
JobTitle              0.010148
BasePay               0.010148
OvertimePay           0.010148
OtherPay              0.010148
Benefits            100.000000
TotalPay              0.010148
TotalPayBenefits      0.010148
Year                  0.010148
Notes               100.000000
Agency                0.010148
Status              100.000000
dtype: float64

**drop columns with completely missing values**

In [95]:
df.drop('Notes',axis=1,inplace=True)
df.drop('Status',axis=1,inplace=True)

**drop Agency column with zero variance**

In [96]:
df['Agency']=='San Francisco'

0        True
1        True
2        True
3        True
4        True
        ...
9849     True
9850     True
9851     True
9852     True
9853    False
Name: Agency, Length: 9854, dtype: bool

In [97]:
df.drop('Agency',axis=1,inplace=True)

**check data types**

In [98]:
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                float64
dtype: object

**change id and year data types from integer to string**

In [99]:
df['Id']=df['Id'].apply(str)

In [100]:
df['Year']=df['Year'].astype(str)

**Find summary of data statistics**

In [101]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits
count,9853.000000,9853.000000,9853.000000,0.0,9853.000000,9853.000000
mean,112618.251301,10774.278504,9007.342012,NaN,132399.871817,132399.871817
std,25934.343901,16958.341007,12833.801488,NaN,29090.502655,29090.502655
min,0.000000,0.000000,0.000000,NaN,98061.210000,98061.210000
25%,99014.400000,0.000000,915.590000,NaN,111273.340000,111273.340000
50%,107797.610000,4078.000000,6070.630000,NaN,124674.770000,124674.770000
75%,123240.000000,13453.810000,12856.090000,NaN,147004.380000,147004.380000
max,294580.020000,245131.880000,400184.250000,NaN,567595.430000,567595.430000

**find indices of BasePay value less than 0**

In [102]:
df[df['BasePay']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

**find all indices with negative values**

In [103]:
df[df['OvertimePay']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [104]:
df[df['OtherPay']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [105]:
df[df['Benefits']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [106]:
df[df['TotalPay']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [107]:
df[df['TotalPayBenefits']<0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

**find length of indices with negative values**

In [108]:
(df['BasePay']<0).sum()

0

**find shape of dataframe before dropping negative values**

In [109]:
df.shape

(9854, 10)

**drop negative values**

In [110]:
#df.drop(df.index[[72832,72865,72872,72874,72878,72884,72888,72894,72908,72920,72922,110528,110529,110530,110528,110529,110530]],inplace=True)

In [111]:
# Get names of indexes for which column Age has value 30
indexNames = df[df['BasePay'] < 0 ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

**reset the indices**

In [112]:
df.reset_index(drop=True,inplace=True)

**find shape of dataframe after dropping negative values**

In [113]:
df.shape

(9854, 10)

**find indices of zero TotalPay** 

**what's your conclusion about it**

In [114]:
df[df['TotalPay']==0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [115]:
#my conclusion is that total pay = 0 should be deleted

**find indices of zero TotalPayBenefits**

In [116]:
df[df['TotalPayBenefits']==0]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

**Based on ur conclusion what should you do**

In [117]:
df.drop(df[(df['TotalPay']==0)].index,inplace=True)

In [118]:
df.drop(df[(df['TotalPayBenefits']==0)].index,inplace=True)

**Are you ready for filling missing values now?**

In [119]:
df[df['BasePay'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
9853,9854,JOANNE D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [120]:
df['BasePay']=df['BasePay'].fillna(0)

In [121]:
df[df['Benefits'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0
...,...,...,...,...,...,...,...,...,...,...
9849,9850,RICK BURGER,PIPE WELDER,89916.75,6096.52,2070.00,NaN,98083.27,98083.27,2011.0
9850,9851,ERIC SHAFFER,REGISTERED NURSE,92149.82,1069.72,4858.68,NaN,98078.22,98078.22,2011.0
9851,9852,LEO BERNSTEIN,POLICE OFFICER I,84009.21,3027.23,11030.81,NaN,98067.25,98067.25,2011.0
9852,9853,TAMI QUAN,AIRPORT ELECTRICIAN,96050.44,90.77,1920.00,NaN,98061.21,98061.21,2011.0
9853,9854,JOANNE D,NaN,0.00,NaN,NaN,NaN,NaN,NaN,nan

In [122]:
df['Benefits']=df['Benefits'].fillna(0)

In [123]:
df.isna().sum()

Id                  0
EmployeeName        0
JobTitle            1
BasePay             0
OvertimePay         1
OtherPay            1
Benefits            0
TotalPay            1
TotalPayBenefits    1
Year                0
dtype: int64

In [124]:
df[df['OvertimePay'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
9853,9854,JOANNE D,NaN,0.0,NaN,NaN,0.0,NaN,NaN,nan

In [125]:
#df.drop(125336,inplace=True)

In [126]:
df[df['OtherPay'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
9853,9854,JOANNE D,NaN,0.0,NaN,NaN,0.0,NaN,NaN,nan

In [127]:
df[df['TotalPay'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
9853,9854,JOANNE D,NaN,0.0,NaN,NaN,0.0,NaN,NaN,nan

In [128]:
df[df['TotalPayBenefits'].isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
9853,9854,JOANNE D,NaN,0.0,NaN,NaN,0.0,NaN,NaN,nan

In [129]:
df.isna().sum()

Id                  0
EmployeeName        0
JobTitle            1
BasePay             0
OvertimePay         1
OtherPay            1
Benefits            0
TotalPay            1
TotalPayBenefits    1
Year                0
dtype: int64

cleaning data

In [130]:
(df.isna().sum()/len(df))*100

Id                  0.000000
EmployeeName        0.000000
JobTitle            0.010148
BasePay             0.000000
OvertimePay         0.010148
OtherPay            0.010148
Benefits            0.000000
TotalPay            0.010148
TotalPayBenefits    0.010148
Year                0.000000
dtype: float64

# Data Analysis

**What is the average BasePay ?**

In [131]:
pd.DataFrame.mean(df['BasePay'])

112606.82261721128

**What is the highest amount of OvertimePay in the dataset ?**

In [132]:
pd.DataFrame.max(df['OvertimePay'])

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [133]:
df['JobTitle'][df['EmployeeName'] == 'JOSEPH DRISCOLL']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [134]:
[df['JobTitle'][df['EmployeeName']== 'Joseph Driscoll']]

[Series([], Name: JobTitle, dtype: object)]

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [135]:
df['TotalPayBenefits'][df['EmployeeName']=='JOSEPH DRISCOLL']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [136]:
df['EmployeeName'][df['TotalPayBenefits']==df['TotalPayBenefits'].max()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)?**

In [137]:
df['EmployeeName'][df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

9852    TAMI QUAN
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [138]:
df.groupby(by=['Year'])['BasePay'].mean()

Year
2011.0    112618.251301
nan            0.000000
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [139]:
df['JobTitle'].nunique()

473

**What are the top 5 most common jobs?**

In [140]:
df.groupby(df['JobTitle']).size().sort_values().tail(5)

JobTitle
POLICE OFFICER II     341
POLICE OFFICER I      426
FIREFIGHTER           718
POLICE OFFICER III    727
REGISTERED NURSE      898
dtype: int64

**How many Job Titles were represented by only one person in 2013?**

In [141]:
df[df['Year']==2013]['JobTitle'].nunique()

0

**How many people have the word Chief in their job title?**

In [142]:
df['JobTitle'][df['JobTitle']=='Chief'].sum()

0

**Is there a correlation between length of the Job Title string, Benefit and TotalPay?**

In [152]:
df['title_len'] = df['JobTitle'].apply(len)

KeyError: ignored

In [147]:
df[['title_len','TotalPayBenefits']].corr()

KeyError: ignored